<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} — riza committee</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="{{page.prefix}}/css/main.css">
    <link rel="stylesheet" href="{{page.prefix}}/css/tablet.css" type="text/css" media="screen and (min-width:651px) and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px)" />
    <link rel="stylesheet" href="{{page.prefix}}/css/mobile.css" type="text/css" media="handheld, screen and (max-width: 650px), screen and (max-device-width: 480px)" />
  </head>
  <body>
    <div id="header">
      <img src="/gfx/riza.png" width="150px" class="logo"/>
      <h1 class="logo-text">riza committee</h1>
      <div id="menu" class="menu">
	<a href="/" class="menu-item">about</a>
	<a href="/log/" class="menu-item">devlog</a>
	<a href="/roadmap/" class="menu-item">roadmap</a>
	<a href="/community/" class="menu-item">join</a>
      </div>
    </div>
    <div id="wrapper">
      <div id="main">
        <h2 class="title">{{ page.title }}</h1>
        {{ content }}
      </div>
    </div>
  </body>
</html>
