html, body { height: 100%; }

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefefe;
  color: #020202;
  font-size: medium;
  margin: 0 auto 0;
}

p {
  line-height: 120%;
}

pre {
  font-style: inherit;
  font-family: inherit;
  font-size: inherit;
}

#wrapper {
  min-height: 100%;
/*   width: 100%; */
}

#main {
  overflow: auto;
  max-width: 50em;
  padding-top: 2em;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 250%;
  font-weight: normal;
}

h2 {
  font-size: 140%;
}

h3, h4, h5, h6 {
  font-size: 100%;
}

h1 { margin-bottom: 1em; }
p {
  font-size: 16pt;
  margin: 1em 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
}

a:hover {
  background: rgba(0.5, 0.5, 0.5, 0.125);
}

a:visited {
  color: #612;
}

body {
  font-size: 115%;
  text-align: justify;
  line-height: 1.5em;
}

ul {
  padding-left: 1em;
}

.copypaste {
  
}

#instruction {
  padding: 1em;
  width:80%;
  position:fixed;
  z-index:1001;
  background-color:#fefefe;
  color: #000;
}
